body{
    font-family: "Outfit", serif;
    font-weight: 400;
}

h1,h2{
   font-family: "Young Serif", serif; 
}

h1{
    font-weight: 400;
}

p{
    font-size: 16px;
}

 .lista-tempo li::marker{
    color: #7b284f;
 }

 .lista-tempo li{
    padding-left: 15px;
 }


.negrito{
    font-weight: bold;
}


